<div class="container" fxLayout="column" fxLayoutGap="10px">
    <mat-list fxFlex> <!--angular material list component allows to use this to create list of items-->
        <mat-list-item *ngFor="let dish of dishes"> <!--iterate through the dishes array specified. acts like for loop-->
            <img matListAvatar src={{dish.image}} alt="{{dish.name}}">
            <h1 matLine> {{dish.name}} </h1>
            <p matLine>
                <span> {{dish.description}} </span>
            </p>
        </mat-list-item>
    </mat-list> 
</div>
